@charset "UTF-8";

/* ヘッダー */

/* 新規ボタン */
li.entrybutton{
	position:  absolute;
	top: 32px;
	right: 14%;
	display:inline;
	list-style: none;
}
/* ログインボタン */
li.loginbutton{
	position:  absolute;
	top: 32px;
	right: 8%;
	display:inline;
	list-style: none;
}

/* ホームボタン */
.homebutton {
	position:  absolute;
	top: 23px;
	left: 3%;
	font-size: 28px;
	display:inline;
}

/* リンク装飾 */
li a{
	color: #f4a460;
	text-decoration: none;
}

/* ヘッダー背景 */
header {
	height: 64px;
	position: fixed;
	display: inline;
	height: 90px;
	width: 100%;
	margin: auto;
	z-index: 2;
	text-shadow:1px 0 5px white;
}

/* ヘッダー背景OFF */
.headerOut {
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
	transition: all 1s;
}

/* ヘッダー背景ON */
.headerIn {
	background-color: #f4a460;

}
/*ページ最上部時 白 */
.topColor {
	color: #f4a460;
	transition: all 1s;
}
/* ページ最上部以外 グレー */
.bottomColor {
	color: white;
}