@charset "UTF-8";

body {
	font-family: 'Swashed', cursive, sans-serif;
	font-weight: bold;
	height: 100%;
	margin: 0 auto;
}

h2 {
	position: absolute;
	top: 15%;
	left: 30%;
	font-size: 30px;
}

.submission {
	position: absolute;
	left: 30%;
	top: 25%;
	font-size: 20px;
}

.title {
	font-size: 25px;
	width: 500px;
	height: 20px;
}

.article {
	width: 700px;
	height: 300px;
}


.createDate {
	position:  absolute;
	left: 510px;
	width:250px;
}
